*{
    padding: 0;
    margin: 0;
}


/* INVENTORY MODULE  - ENTRIES DEFINITION PAGE STYLING */
.eventEntriesDef {
    padding: 20px;
    background-color: #f0eded;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
      h2{
        color: black;
        padding-bottom: 30px;
      }
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  
.entry-btn-link{
  border: none;
  cursor: pointer;
  margin-bottom: 35px;
    a{
      text-decoration: none;
      color: white;
      background-color: #ed9c28;
      padding: 8px;
      border-radius: 5px;
    }
    a:hover{
      text-decoration: none;
    }
}
  .entry-form-group {
    margin-bottom: 15px;
  }
  .form-label {
    margin-bottom: 5px;
    display: block;
    color: black;
  }
  .entry-form-control {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .entry-form-control:focus{
    border-color: #ed9c28;
    outline: none;
  }
  .entry-form-select{
    width: 42%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .entry-form-select:focus{
    border-color: #ed9c28;
  }
  
/* Entry definition listing */
.entryDefListing {
  padding: 20px;
  background-color: #f0eded;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
    h2{
      color: black;
    }
    hr{
      margin: 20px 0px;
    }
}
.entryDefLinkBtn{
  border: none;
  cursor: pointer;
  margin-bottom: 35px;
  background-color: #ccc;
  padding: 20px;
  border-radius: 5px;
    .backToEntryBtn{
      text-decoration: none;
      color: white;
      background-color: dodgerblue;
      padding: 6px;
      border-radius: 5px;
      font-size:16px;
    }
    .pdfVersionBtn{
      text-decoration: none;
      color: white;
      background-color: red;
      padding: 6px;
      border-radius: 5px;
      font-size:16px;
    }
    .wordVersionBtn{
      text-decoration: none;
      color: white;
      background-color: green;
      padding: 6px;
      border-radius: 5px;
      font-size:16px;
    }
    .excelVersionBtn{
      text-decoration: none;
      color: white;
      background-color: #ed9c28;
      padding: 6px;
      border-radius: 5px;
      font-size:16px;
    }
}

.inventEntryListImageDiv{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  img{
    border: 1px solid gray;
    height: 20px;
    width: 20px;
  }
  span{
    color: gray;
    margin-left: 4px;
    font-size: 14px;
  }
  input{
    border-radius: 5px;
    margin: 0px 4px;
    padding: 3px;  
    width: 10%;
  }
  select{
    border-radius: 4px;
    margin: 0px 5px;
    padding: 3px;
  }
}

.entry-def-title{
  text-align: center;
  color: black;
}

.inventEntryDefTable{
  color: black;
  width: 50%;
  margin-top: 30px;
  font-size: 14px;
  th{
    text-align: start;
  }
  td{
    font-size: 12px;
  }
}
  
  

/* INVENTORY MODULE - INVENTORY PARAMETERS PAGE STYLING */
.invent-par-setting{
    font-weight: 200;
    background-color: #f0eded;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    h2{
        margin: 20px 0px;
        color: black;
    }
    .button-container{
        margin: 10px 0px;
    }
    button{
        margin-top: 15px;
        background-color: dodgerblue;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 10px 16px;
        cursor: pointer;
        font-size: 16px;
    }
    button:hover{
        background-color:  #00B2FF;;
    }
}
/* inventory dropdown voucher prefix*/
.collapse {
    display: none;
}

.collapse.show {
    display: block;
}
.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #f0eded;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    color: black;
    margin-top: -35px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.sys-voucher th, .sys-entry-selection th{
    background-color: dodgerblue; 
    color: white; 
}
.sys-voucher{
    background-color: #f0eded;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 30px;
      h3{
         margin: 15px 0px;
         color: black;
      }
      table{
         color: black;
      }
      th, td {
         padding: 8px;
         text-align: left;
         border: 1px solid black; 
      }
}
.sys-voucher-number{
    background-color: #f0eded;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    color: black;
    display: flex;
    justify-content: space-between;
      svg{
        cursor: pointer;
      }
      svg:hover{
        background-color: #ccc;
        border-radius: 5px;
      }
}
.sys-entry-selection{
    background-color: #f0eded;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    h3{
        margin: 15px 0px;
        color: black;
    }
    table{
        color: black;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid black; 
    }
    select{
        border: none;
        cursor: pointer;
    }
}


/* INVENTORY MODULE - INVENTORY STOCK ITEM MANAGEMENT STYLING */
/* Set a style for the buttons */
.stock-item-buttons{
  margin-bottom: 50px;
}
.stock-item-buttons button{
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.save{
  background-color: green;
  border-radius: 4px;
}
.delete{
  background-color: #cc0000;
  border-radius: 4px;
}
.load{
  background-color: dodgerblue;
  border-radius: 4px;
}  


.stock-item-main-content{
  background-color: #f0eded;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: black;
    h3{
      margin: 20px 0px;
      font-size: 20px;
    }
    hr{
      margin-bottom: 40px;
    }
}
.stock-item-form{
  min-width: 600px;
}
.stock-item-input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
    span{
      width: 20%;
        sup{
          color: #cc0000 ;
          font-weight: 700;
        }
    }
    #searchItem{
      width: 41%;
      padding: 10px;
    }
    a{
      text-decoration: none;
      margin-left: 15px;
      border: none;
      cursor: pointer;
      color: dodgerblue;
      padding: 3px;
      font-size: 16px;
    }
    a:hover{
      background-color: #ccc;
      border-radius: 2px;
    }
}
  
.stock-item-icon {
  padding: 6px;
  background: #ccc;
  color: rgb(84, 81, 81);
  min-width: 40px;
  text-align: center;
  font-size: 20px;
}


.stock-item-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 50px;
}

.stock-item-table th, .stock-item-table td {
  font-size: 13px;
  text-align: left;
  vertical-align: top; 
  border: 1px solid #ddd;
  word-wrap: break-word; /* Breaks long words onto the next line */
  overflow-wrap: break-word; /* Additional support for word breaking */
  white-space: normal; /* Allows text wrapping */
}

.stock-item-table thead {
  background-color: dodgerblue;
  color: white;
}
  
.stock-item-input-field, .stock-item-select-field{
  padding: 8px;
  outline: none;
  width: 35%;
  border: none;
}
.stock-item-input-field:focus, .stock-item-select-field:focus {
  border: 2px solid #ccc;
}
.stock-item-card {
  border-radius: 0.25rem;
  background-color: #f0eded;
  border-radius: 5px;
  color: black;
  margin-top: -35px;
    h3{
      margin-top: 80px;
    }
}

.stock-item-navigation{
  background-color: #f0eded;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: black;
    hr{
      margin: 20px 0px;
    }
    .navigation{
      background-color: #cc0000 ;
      border-radius: 5px;
    }
    button{
      text-decoration: none;
      margin-right: 20px;
      font-weight: 600;
      border-radius: 8px;
      color: white;
    }
}
  /* Navigation Buttons */
.nav-btn {
    padding: 5px 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}
.nav-btn:hover {
    background-color: white;
    color: #cc0000;
}
.nav-btn:active {
  background-color: white;
  color: #cc0000;
}
/* Pages */
.page {
    display: none;
    /* text-align: center; */
    animation: fadeIn 0.5s ease; 
}
.page.active {
    display: block; /* Show the active page */
}

/* for all three sub pages body styles */
.sub-page-1 {
  border-radius: 0.25rem;
  background-color: #f0eded;
  border-radius: 5px;
  color: black;
    h3{
      margin-top: 30px;
      border: 2px solid red;
      text-align: left;
      padding: 5px;
      width: 25%;
      font-size: 16px;
    }
}
.sub-page-1input{
  display: flex;
  margin-bottom: 15px;
  span{
    width: 30%;
    text-align: start;
    font-size: 16px;
      sup{
        color: #cc0000 ;
        font-weight: 700;
      }
  }
  input {
    padding: 8px;
    outline: none;
    width: 35%;
    border: none;
    border-radius: 6px;
  }
  select{
    padding: 8px;
    outline: none;
    width: 30%;
    border: none;
    border-radius: 6px;
  } 
}

/* sub-page-2-styling */
.sub-page-2-form{
  min-width: 600px;
  margin-top: 50px;
  }
  .sub-page-2-inputs {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
      span{
        text-align: start;
        margin-right: 20px;
        width: 25%;
      }
  }
  .sub-page-2-select{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
      span{
        margin-right: 20px;
        width: 25%;
        text-align: start;
      }
  }
  .select-field{
    padding: 8px;
    outline: none;
    width: 57%;
    border: none;
    border-radius:5px;
  }
  .input-field{
    padding: 8px;
    outline: none;
    width: 55%;
    border: none;
    border-radius:5px;
  }
  .input-field:focus {
    border: 2px solid #ccc;
  }
  .sub-page2-buttons{
    display: flex;
    justify-content: start;
    button{
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }
  }
  .display{
    background-color: green;
  }
  .print{
    background-color: dodgerblue;
  }
  /* For sub-page 3 styling */
  .sub-page-3{
    text-align: start;
    margin-top: 50px;
  }

  /* STOCK TAKE STYLING */
  /* Note that some stock take styling are together with the stock item mgt styling at the top. */
  .stock-item-buttons{
    margin-bottom: 50px;
  }
  .stock-item-buttons button{
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  .newBtn{
    background-color: #ed9c28;;
    border-radius: 4px;
  }
  .printBtn{
    background-color: dodgerblue;
    border-radius: 4px;
  }  
  .stock-take-description{
    padding: 20px;
    background-color: #f0eded;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
      .description{
        border-radius: 5px;
        width: 400px;
        height: 100px;
        background-color: #e4dede;
        padding: 20px 30px;
      }
      .voucher-date{
        border-radius: 5px;
        width: 350px;
        height: 100px;
        background-color: #e4dede;
        padding: 20px;
      }
  }
  .description-area {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    span{
      width: 35%;
      color: black;
    }
    textarea{
      padding: 8px;
      outline: none;
      width: 55%;
      border: none;
      border-radius: 5px;
      margin-bottom: 15px;
    }
  }
  .description-select{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    span{
      width: 35%;
      color: black;
    }
    select{
      padding: 10px;
      outline: none;
      width: 58%;
      border: none;
      border-radius: 5px;
    }
  }
  .voucher{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    span{
      width: 40%;
      color: black;
    }
    input[type='date']{
      padding: 10px;
      outline: none;
      width: 55%;
      border: none;
      border-radius: 5px;
    }
  }
  .voucher-link a{
    text-decoration: none;
    color:#cc0000;
    font-size: 14px;
  }
  a:hover{
    text-decoration: underline;
  }
  .stock-take-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
  }
  .stock-take-table-wrapper{
    background-color: #f0eded;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
      h3{
        margin: 20px 0px;
        font-size: 20px;
      }
    .add-line{
      text-decoration: none;
      font-size: 15px;
      color: dodgerblue;
      font-weight: 400;
    }
  }

  .stock-take-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  .stock-take-table th, .stock-take-table td {
    font-size: 13px;
    text-align: left;
    vertical-align: top; 
    border: 1px solid #ddd;
    word-wrap: break-word; /* Breaks long words onto the next line */
    overflow-wrap: break-word; /* Additional support for word breaking */
    white-space: normal; /* Allows text wrapping */
  }
  
  .stock-take-table thead {
    background-color: dodgerblue;
    color: white;
  }

/* STYLING FOR BARCODE PRINT AND BARCODE MANAGEMENT PRINT */
  /* Print Barcode Tags -- Manage barcode tags printing */
  .barcode-head{
    background-color: #f0eded;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
    h3{
      margin: 20px 0px;
      font-size: 20px;
    }
    hr{
      margin-bottom: 20px;
    }
  }
  .barcode-container{
    background-color: #f0eded;
    padding: 20px 30px;
    border-radius: 5px;
    border-radius: 5px;
  }
  .barcode-select{
    display: flex;
    width: 100%;
    margin-bottom: 18px;
    span{
      width: 20%;
      color: black;
    }
    select{
      width: 20%;
    }
    a{
      background-color: #0088cc;
      padding: 6px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      margin-top: 12px;
      text-decoration: none;
    }
  }
/* Barcode tags management print */
  .barcode-mgt-container{
    background-color: #f0eded;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
    h2{
      margin: 20px 0px;
      margin-bottom: 10px;
    }
    hr{
      margin: 20px 0px;
    }
    a{
      padding: 6px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      margin-top: 12px;
      text-decoration: none;
    }
    .btnRed{
      background-color: #cc0000;
    }
    .btnGreen{
      background-color: green;
    }
    .btnBlue{
      background-color: dodgerblue;
    }
    .btnYellow{
      background-color: #ed9c28;
    }
  }
.barcodeBtnContainer{
  background-color: #ccc;
  padding: 15px;
  border-radius: 5px;
  margin: 40px 0px;
}
.barcodeImages{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  img{
    border: 1px solid gray;
    height: 20px;
    width: 20px;
  }
  span{
    color: gray;
    margin-left: 4px;
    font-size: 14px;
  }
  input{
    border-radius: 5px;
    margin: 0px 4px;
    padding: 3px;  
    width: 10%;
  }
  select{
    border-radius: 4px;
    margin: 0px 5px;
    padding: 3px;
  }
}
.barcode-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}
.cards {
  flex: 0 1 calc(40% - 16px); /*To reduce card width */
  border: 1px solid black;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: center;
}



/* Enter Opening Balances for Stock Items styling */
.openingStocks-title{
    background-color: #f0eded;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
      hr{
        margin-bottom: 20px;
      }
}
/*opening stocks sub-page-2-styling */
/* Some styling here merge with styling of the stock Item Mgt Page */

.groupUpdate-saveBtn{
  padding: 10px 20px;
  background-color: green;
  border-radius: 3px;
  color: white;
  border: none;
  margin: 20px 0;
}

.opening-stock-table{
  background-color: #f0eded;
  padding-top: 20px;
  border-radius: 5px;
  color: black;
    h3{
      margin: 20px 0px;
      font-size: 20px;
    }
    hr{
      margin-bottom: 40px;
    }
    table{
      font-size: 14px;
    }
}
.table-details {
    width: 100%;
    border-collapse: collapse;
}
.table-details tbody{
  padding: 0;
  input{
    border-radius: 4px;
    border: none;
    padding: 13px;
    margin: 5px;
    width: 80px;
  }
  textarea{
    border-radius: 4px;
    border: none;
    padding: 5px;
    margin: 5px;
    resize:vertical;
  }
}

.table-details th, .table-details td {
    text-align: left;
    vertical-align: top; 
    border: 1px solid #ddd;
    word-wrap: break-word; /* Breaks long words onto the next line */
    overflow-wrap: break-word; /* Additional support for word breaking */
    white-space: normal; /* Allows text wrapping */
}

.table-details thead{
    background-color: dodgerblue;
    color: white;
}


.singleUpdateBtn{
  background-color: green;
  padding: 0px 50px;
  button{
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
}